<center>
  <h1>Add Builder</h1>
  <table  class="table">
    <thead>
      <tr>
        <th>Builder Id</th>
        <td><input type="text" name="id" id="id"></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Public key</th>
        <td><input type="text" name="pkey" id="pkey"></td>
      </tr>
      <tr>
        <th>Address</th>
        <td><input type="text" name="address" id="address"></td>
      </tr>
      <tr>
        <th>Contact</th>
        <td><input type="text" name="contact" id="contact"></td>
      </tr>
      <tr>
        <th>Name</th>
        <td><input type="text" name="bname" id="bname"></td>
      </tr>
      <tr>
        <th>City</th>
        <td><input type="text" name="bcity" id="bcity"></td>
      </tr>
      <tr id="btna">
        <td colspan="2"><input type="button" name="button" id="btn" value="Add" onclick="AddRow()"></td>
      </tr>
    </tbody>
  </table>

  <table  class="table" id="show">
    <thead>
      <tr>
        <th>Builder Id</th>
        <th>Public key</th>
        <th>Address</th>
        <th>Contact</th>
        <th>Name</th>
        <th>City</th>
      </tr>
    </thead>
  </table>
</center>
