<div>
  <h1>Add Material</h1>
  <table  class="table">
    <thead>
      <tr>
        <th>Material Id</th>
        <td><input type="text" name="id" id="id"></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Site Id</th>
        <td><input type="text" name="sid" id="sid"></td>
      </tr>
      <tr>
        <th>Siteunit Id</th>
        <td><input type="text" name="sunitid" id="sunitid"></td>
      </tr>
      <tr>
        <th>Material Name</th>
        <td><input type="text" name="mname" id="mname"></td>
      </tr>
      <tr>
        <th>Manufacturer Id</th>
        <td><input type="text" name="mid" id="mid"></td>
      </tr>
      <tr>
        <th>Seller Id</th>
        <td><input type="text" name="seid" id="seid"></td>
      </tr>
      <tr id="btna">
        <td colspan="2"><input type="button" name="button" id="btn" value="Add" onclick="AddRow()"></td>
      </tr>
    </tbody>
  </table>

  <table  class="table" id="show">
    <thead>
      <tr>
        <th>Material Id</th>
        <th>Site Id</th>
        <th>Siteunit Id</th>
        <th>Material Name</th>
        <th>Manufacturer Id</th>
        <th>Seller Id</th>

      </tr>
    </thead>
  </table>
</div>
