<center>
  <h1>Add Manufacturer</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Manufacturer ID</th>
        <td><input type="text" name="mid" id="mid"></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Manufacturer Address</th>
        <td><input type="text" name="madd" id="madd"></td>
      </tr>
      <tr>
        <th>Manufacturer Contact</th>
        <td><input type="text" name="mcon" id="mcon"></td>
      </tr>
      <tr>
        <th>Manufacturer Name</th>
        <td><input type="text" name="mname" id="mname"></td>
      </tr>
      <tr>
        <th>Manufacturer City</th>
        <td><input type="text" name="mcity" id="mcity"></td>
      </tr>
      <tr id="btna">
        <td colspan="2"><input type="button" name="button" id="btn" value="Add" onclick="AddRow()"></td>
      </tr>
    </tbody>
  </table>

  <table id="show" class="table">
    <thead>
      <tr>
        <th>Manufacturer ID</th>
        <th>Manufacturer Address</th>
        <th>Manufacturer Contact</th>
        <th>Manufacturer Name</th>
        <th>Manufacturer City</th>

      </tr>
    </thead>
  </table>
</center>
