<div>
  <h1>Add Admin</h1>
  <table class="table">
    <thead>
      <tr>
        <th>City Name</th>
        <td><input type="text" [(ngModel)]="cname" id="cname"></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Admin Address</th>
        <td><input type="text" [(ngModel)]="address" id="address"></td>
      </tr>
      <tr id="btna">
        <td colspan="2"><input type="button" name="button" id="btn" value="Add" (click)="addAdmin()"></td>
      </tr>
    </tbody>
  </table>
  {{message}}

  <table  class="table" id="show">
    <thead>
      <tr>
        <th>City Name</th>
        <th>Admin Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of smartcontract.citylist">
        <td>{{e[0]}}</td>
        <td>{{e[1]}}</td>
      </tr>
    </tbody>
  </table>
</div>
