<center>
  <h1>Add Seller</h1>
  <table  class="table">
    <thead>
      <tr>
        <th>Seller ID</th>
        <td><input type="text" name="sid" id="sid"></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Seller Address</th>
        <td><input type="text" name="sadd" id="sadd"></td>
      </tr>
      <tr>
        <th>Seller Contact</th>
        <td><input type="text" name="scon" id="scon"></td>
      </tr>
      <tr>
        <th>Seller Name</th>
        <td><input type="text" name="sname" id="sname"></td>
      </tr>
      <tr>
        <th>Seller City</th>
        <td><input type="text" name="scity" id="scity"></td>
      </tr>
      <tr id="btna">
        <td colspan="2"><input type="button" name="button" id="btn" value="Add" onclick="AddRow()"></td>
      </tr>
    </tbody>
  </table>

  <table  class="table" id="show">
    <thead>
      <tr>
        <th>Seller ID</th>
        <th>Seller Address</th>
        <th>Seller Contact</th>
        <th>Seller Name</th>
        <th>Seller City</th>

      </tr>
    </thead>
  </table>
</center>
