<div>
  <h1>Add Site</h1>
  <table  class="table">
    <thead>
      <tr>
        <th>Site Id</th>
        <td><input type="text" name="id" id="id"></td>
      </tr>
    </thead>
    <tbody>

      <tr>
        <th>Address</th>
        <td><input type="text" name="address" id="address"></td>
      </tr>


      <tr>
        <th>City</th>
        <td><input type="text" name="bcity" id="bcity"></td>
      </tr>

      <tr>
        <th>Builder Id</th>
        <td><input type="text" name="bid" id="bid"></td>
      </tr>
      <tr id="btna">
        <td colspan="2"><input type="button" name="button" id="btn" value="Add" onclick="AddRow()"></td>
      </tr>
    </tbody>
  </table>

  <table  class="table" id="show">
    <thead>
      <tr>
        <th>Site Id</th>
        <th>Address</th>
        <th>City</th>
        <th>Builder Id</th>
      </tr>
    </thead>
  </table>
</div>
