<div class="left-panel">
  <a class="btn btn-primary right-btn" routerLinkActive="btn-danger" routerLink='/choose-wallet'>Choose Wallet</a>
  <a class="btn btn-primary right-btn" routerLinkActive="btn-danger" routerLink='/add-admin'>Administrators</a>
  <a class="btn btn-primary right-btn" routerLinkActive="btn-danger" routerLink='/builders'>Builders</a>
  <a class="btn btn-primary right-btn" routerLinkActive="btn-danger" routerLink='/manufacturer'>Manufacturers</a>
  <a class="btn btn-primary right-btn" routerLinkActive="btn-danger" routerLink='/seller'>Sellers</a>
  <a class="btn btn-primary right-btn" routerLinkActive="btn-danger" routerLink='/site'>Sites</a>
  <a class="btn btn-primary right-btn" routerLinkActive="btn-danger" routerLink='/material'>Materials</a>
</div>
<div class="right-panel">
  <router-outlet></router-outlet>
</div>
